<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Map 1</string>
	<string>Map 2</string>
	<string>Map 3</string>
	<string>Campaign 1</string>
	<string>Campaign 2</string>
	<string>Campaign 3</string>
	<string>Campaign 4</string>
	<string>Campaign 5</string>
	<string>Campaign 6</string>
	<string>Campaign 7</string>
	<string>Campaign 8</string>
	<string>Campaign 9</string>
	<string>Campaign 10</string>
</array>
</plist>
