<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>High Count Test</string>
	<integer>0</integer>
	<integer>8</integer>
	<integer>6</integer>
	<integer>50</integer>
	<array/>
	<array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
	</array>
	<array>
		<array>
			<integer>2</integer>
			<integer>16</integer>
			<array/>
			<integer>0</integer>
			<real>0.0</real>
			<false/>
			<array>
				<real>64</real>
				<real>64</real>
			</array>
			<array>
				<real>64</real>
				<real>64</real>
			</array>
			<integer>-1</integer>
			<false/>
			<false/>
			<array>
				<real>0.0</real>
				<real>0.0</real>
			</array>
			<integer>0</integer>
		</array>
		<array>
			<integer>1</integer>
			<integer>13</integer>
			<array/>
			<integer>0</integer>
			<real>0.0</real>
			<false/>
			<array>
				<real>106.74609375</real>
				<real>641.98828125</real>
			</array>
			<array>
				<real>106.74609375</real>
				<real>641.98828125</real>
			</array>
			<integer>-1</integer>
			<false/>
			<false/>
			<array>
				<real>0.0</real>
				<real>0.0</real>
			</array>
			<integer>0</integer>
		</array>
		<array>
			<integer>1</integer>
			<integer>13</integer>
			<array/>
			<integer>0</integer>
			<real>0.0</real>
			<false/>
			<array>
				<real>240.61328125</real>
				<real>637.8125</real>
			</array>
			<array>
				<real>240.61328125</real>
				<real>637.8125</real>
			</array>
			<integer>-1</integer>
			<false/>
			<false/>
			<array>
				<real>0.0</real>
				<real>0.0</real>
			</array>
			<integer>0</integer>
		</array>
		<array>
			<integer>1</integer>
			<integer>13</integer>
			<array/>
			<integer>0</integer>
			<real>0.0</real>
			<false/>
			<array>
				<real>387.66015625</real>
				<real>640.25</real>
			</array>
			<array>
				<real>387.66015625</real>
				<real>640.25</real>
			</array>
			<integer>-1</integer>
			<false/>
			<false/>
			<array>
				<real>0.0</real>
				<real>0.0</real>
			</array>
			<integer>0</integer>
		</array>
		<array>
			<integer>1</integer>
			<integer>13</integer>
			<array/>
			<integer>0</integer>
			<real>0.0</real>
			<false/>
			<array>
				<real>521.26171875</real>
				<real>640.25</real>
			</array>
			<array>
				<real>521.26171875</real>
				<real>640.25</real>
			</array>
			<integer>-1</integer>
			<false/>
			<false/>
			<array>
				<real>0.0</real>
				<real>0.0</real>
			</array>
			<integer>0</integer>
		</array>
		<array>
			<integer>1</integer>
			<integer>13</integer>
			<array/>
			<integer>0</integer>
			<real>0.0</real>
			<false/>
			<array>
				<real>639.6484375</real>
				<real>640.25</real>
			</array>
			<array>
				<real>639.6484375</real>
				<real>640.25</real>
			</array>
			<integer>-1</integer>
			<false/>
			<false/>
			<array>
				<real>0.0</real>
				<real>0.0</real>
			</array>
			<integer>0</integer>
		</array>
		<array>
			<integer>1</integer>
			<integer>13</integer>
			<array/>
			<integer>0</integer>
			<real>0.0</real>
			<false/>
			<array>
				<real>760.2890625</real>
				<real>640.9453125</real>
			</array>
			<array>
				<real>760.2890625</real>
				<real>640.9453125</real>
			</array>
			<integer>-1</integer>
			<false/>
			<false/>
			<array>
				<real>0.0</real>
				<real>0.0</real>
			</array>
			<integer>0</integer>
		</array>
		<array>
			<integer>1</integer>
			<integer>13</integer>
			<array/>
			<integer>0</integer>
			<real>0.0</real>
			<false/>
			<array>
				<real>897.33203125</real>
				<real>640.9453125</real>
			</array>
			<array>
				<real>897.33203125</real>
				<real>640.9453125</real>
			</array>
			<integer>-1</integer>
			<false/>
			<false/>
			<array>
				<real>0.0</real>
				<real>0.0</real>
			</array>
			<integer>0</integer>
		</array>
		<array>
			<integer>1</integer>
			<integer>13</integer>
			<array/>
			<integer>0</integer>
			<real>0.0</real>
			<false/>
			<array>
				<real>108.48046875</real>
				<real>519.515625</real>
			</array>
			<array>
				<real>108.48046875</real>
				<real>519.515625</real>
			</array>
			<integer>-1</integer>
			<false/>
			<false/>
			<array>
				<real>0.0</real>
				<real>0.0</real>
			</array>
			<integer>0</integer>
		</array>
		<array>
			<integer>1</integer>
			<integer>13</integer>
			<array/>
			<integer>0</integer>
			<real>0.0</real>
			<false/>
			<array>
				<real>244.56640625</real>
				<real>524.6484375</real>
			</array>
			<array>
				<real>244.56640625</real>
				<real>524.6484375</real>
			</array>
			<integer>-1</integer>
			<false/>
			<false/>
			<array>
				<real>0.0</real>
				<real>0.0</real>
			</array>
			<integer>0</integer>
		</array>
		<array>
			<integer>1</integer>
			<integer>13</integer>
			<array/>
			<integer>0</integer>
			<real>0.0</real>
			<false/>
			<array>
				<real>393.1328125</real>
				<real>520.8203125</real>
			</array>
			<array>
				<real>393.1328125</real>
				<real>520.8203125</real>
			</array>
			<integer>-1</integer>
			<false/>
			<false/>
			<array>
				<real>0.0</real>
				<real>0.0</real>
			</array>
			<integer>0</integer>
		</array>
		<array>
			<integer>1</integer>
			<integer>13</integer>
			<array/>
			<integer>0</integer>
			<real>0.0</real>
			<false/>
			<array>
				<real>525.60546875</real>
				<real>522.8203125</real>
			</array>
			<array>
				<real>525.60546875</real>
				<real>522.8203125</real>
			</array>
			<integer>-1</integer>
			<false/>
			<false/>
			<array>
				<real>0.0</real>
				<real>0.0</real>
			</array>
			<integer>0</integer>
		</array>
		<array>
			<integer>1</integer>
			<integer>13</integer>
			<array/>
			<integer>0</integer>
			<real>0.0</real>
			<false/>
			<array>
				<real>644.4609375</real>
				<real>522.8203125</real>
			</array>
			<array>
				<real>644.4609375</real>
				<real>522.8203125</real>
			</array>
			<integer>-1</integer>
			<false/>
			<false/>
			<array>
				<real>0.0</real>
				<real>0.0</real>
			</array>
			<integer>0</integer>
		</array>
		<array>
			<integer>1</integer>
			<integer>13</integer>
			<array/>
			<integer>0</integer>
			<real>0.0</real>
			<false/>
			<array>
				<real>764.93359375</real>
				<real>514.81640625</real>
			</array>
			<array>
				<real>764.93359375</real>
				<real>514.81640625</real>
			</array>
			<integer>-1</integer>
			<false/>
			<false/>
			<array>
				<real>0.0</real>
				<real>0.0</real>
			</array>
			<integer>0</integer>
		</array>
		<array>
			<integer>1</integer>
			<integer>13</integer>
			<array/>
			<integer>0</integer>
			<real>0.0</real>
			<false/>
			<array>
				<real>899.71484375</real>
				<real>521.4296875</real>
			</array>
			<array>
				<real>899.71484375</real>
				<real>521.4296875</real>
			</array>
			<integer>-1</integer>
			<false/>
			<false/>
			<array>
				<real>0.0</real>
				<real>0.0</real>
			</array>
			<integer>0</integer>
		</array>
		<array>
			<integer>1</integer>
			<integer>13</integer>
			<array/>
			<integer>0</integer>
			<real>0.0</real>
			<false/>
			<array>
				<real>108.8203125</real>
				<real>398.78515625</real>
			</array>
			<array>
				<real>108.8203125</real>
				<real>398.78515625</real>
			</array>
			<integer>-1</integer>
			<false/>
			<false/>
			<array>
				<real>0.0</real>
				<real>0.0</real>
			</array>
			<integer>0</integer>
		</array>
		<array>
			<integer>1</integer>
			<integer>13</integer>
			<array/>
			<integer>0</integer>
			<real>0.0</real>
			<false/>
			<array>
				<real>245.9921875</real>
				<real>399.4375</real>
			</array>
			<array>
				<real>245.9921875</real>
				<real>399.4375</real>
			</array>
			<integer>-1</integer>
			<false/>
			<false/>
			<array>
				<real>0.0</real>
				<real>0.0</real>
			</array>
			<integer>0</integer>
		</array>
		<array>
			<integer>1</integer>
			<integer>13</integer>
			<array/>
			<integer>0</integer>
			<real>0.0</real>
			<false/>
			<array>
				<real>390.42578125</real>
				<real>401.4375</real>
			</array>
			<array>
				<real>390.42578125</real>
				<real>401.4375</real>
			</array>
			<integer>-1</integer>
			<false/>
			<false/>
			<array>
				<real>0.0</real>
				<real>0.0</real>
			</array>
			<integer>0</integer>
		</array>
		<array>
			<integer>1</integer>
			<integer>13</integer>
			<array/>
			<integer>0</integer>
			<real>0.0</real>
			<false/>
			<array>
				<real>522.375</real>
				<real>398.3046875</real>
			</array>
			<array>
				<real>522.375</real>
				<real>398.3046875</real>
			</array>
			<integer>-1</integer>
			<false/>
			<false/>
			<array>
				<real>0.0</real>
				<real>0.0</real>
			</array>
			<integer>0</integer>
		</array>
		<array>
			<integer>1</integer>
			<integer>13</integer>
			<array/>
			<integer>0</integer>
			<real>0.0</real>
			<false/>
			<array>
				<real>640.5859375</real>
				<real>397.8671875</real>
			</array>
			<array>
				<real>640.5859375</real>
				<real>397.8671875</real>
			</array>
			<integer>-1</integer>
			<false/>
			<false/>
			<array>
				<real>0.0</real>
				<real>0.0</real>
			</array>
			<integer>0</integer>
		</array>
		<array>
			<integer>1</integer>
			<integer>13</integer>
			<array/>
			<integer>0</integer>
			<real>0.0</real>
			<false/>
			<array>
				<real>763.92578125</real>
				<real>392.953125</real>
			</array>
			<array>
				<real>763.92578125</real>
				<real>392.953125</real>
			</array>
			<integer>-1</integer>
			<false/>
			<false/>
			<array>
				<real>0.0</real>
				<real>0.0</real>
			</array>
			<integer>0</integer>
		</array>
		<array>
			<integer>1</integer>
			<integer>13</integer>
			<array/>
			<integer>0</integer>
			<real>0.0</real>
			<false/>
			<array>
				<real>898.40234375</real>
				<real>395.43359375</real>
			</array>
			<array>
				<real>898.40234375</real>
				<real>395.43359375</real>
			</array>
			<integer>-1</integer>
			<false/>
			<false/>
			<array>
				<real>0.0</real>
				<real>0.0</real>
			</array>
			<integer>0</integer>
		</array>
		<array>
			<integer>1</integer>
			<integer>13</integer>
			<array/>
			<integer>0</integer>
			<real>0.0</real>
			<false/>
			<array>
				<real>109.24609375</real>
				<real>271.17578125</real>
			</array>
			<array>
				<real>109.24609375</real>
				<real>271.17578125</real>
			</array>
			<integer>-1</integer>
			<false/>
			<false/>
			<array>
				<real>0.0</real>
				<real>0.0</real>
			</array>
			<integer>0</integer>
		</array>
		<array>
			<integer>1</integer>
			<integer>13</integer>
			<array/>
			<integer>0</integer>
			<real>0.0</real>
			<false/>
			<array>
				<real>251.19921875</real>
				<real>277.44140625</real>
			</array>
			<array>
				<real>251.19921875</real>
				<real>277.44140625</real>
			</array>
			<integer>-1</integer>
			<false/>
			<false/>
			<array>
				<real>0.0</real>
				<real>0.0</real>
			</array>
			<integer>0</integer>
		</array>
		<array>
			<integer>1</integer>
			<integer>13</integer>
			<array/>
			<integer>0</integer>
			<real>0.0</real>
			<false/>
			<array>
				<real>382.1953125</real>
				<real>278.83203125</real>
			</array>
			<array>
				<real>382.1953125</real>
				<real>278.83203125</real>
			</array>
			<integer>-1</integer>
			<false/>
			<false/>
			<array>
				<real>0.0</real>
				<real>0.0</real>
			</array>
			<integer>0</integer>
		</array>
		<array>
			<integer>1</integer>
			<integer>13</integer>
			<array/>
			<integer>0</integer>
			<real>0.0</real>
			<false/>
			<array>
				<real>528.5</real>
				<real>278.13671875</real>
			</array>
			<array>
				<real>528.5</real>
				<real>278.13671875</real>
			</array>
			<integer>-1</integer>
			<false/>
			<false/>
			<array>
				<real>0.0</real>
				<real>0.0</real>
			</array>
			<integer>0</integer>
		</array>
		<array>
			<integer>1</integer>
			<integer>13</integer>
			<array/>
			<integer>0</integer>
			<real>0.0</real>
			<false/>
			<array>
				<real>640.18359375</real>
				<real>278.13671875</real>
			</array>
			<array>
				<real>640.18359375</real>
				<real>278.13671875</real>
			</array>
			<integer>-1</integer>
			<false/>
			<false/>
			<array>
				<real>0.0</real>
				<real>0.0</real>
			</array>
			<integer>0</integer>
		</array>
		<array>
			<integer>1</integer>
			<integer>13</integer>
			<array/>
			<integer>0</integer>
			<real>0.0</real>
			<false/>
			<array>
				<real>767.39453125</real>
				<real>277.00390625</real>
			</array>
			<array>
				<real>767.39453125</real>
				<real>277.00390625</real>
			</array>
			<integer>-1</integer>
			<false/>
			<false/>
			<array>
				<real>0.0</real>
				<real>0.0</real>
			</array>
			<integer>0</integer>
		</array>
		<array>
			<integer>1</integer>
			<integer>13</integer>
			<array/>
			<integer>0</integer>
			<real>0.0</real>
			<false/>
			<array>
				<real>898.8671875</real>
				<real>281.13671875</real>
			</array>
			<array>
				<real>898.8671875</real>
				<real>281.13671875</real>
			</array>
			<integer>-1</integer>
			<false/>
			<false/>
			<array>
				<real>0.0</real>
				<real>0.0</real>
			</array>
			<integer>0</integer>
		</array>
		<array>
			<integer>1</integer>
			<integer>13</integer>
			<array/>
			<integer>0</integer>
			<real>0.0</real>
			<false/>
			<array>
				<real>104.71484375</real>
				<real>146.6171875</real>
			</array>
			<array>
				<real>104.71484375</real>
				<real>146.6171875</real>
			</array>
			<integer>-1</integer>
			<false/>
			<false/>
			<array>
				<real>0.0</real>
				<real>0.0</real>
			</array>
			<integer>0</integer>
		</array>
		<array>
			<integer>1</integer>
			<integer>13</integer>
			<array/>
			<integer>0</integer>
			<real>0.0</real>
			<false/>
			<array>
				<real>242.9296875</real>
				<real>149.40234375</real>
			</array>
			<array>
				<real>242.9296875</real>
				<real>149.40234375</real>
			</array>
			<integer>-1</integer>
			<false/>
			<false/>
			<array>
				<real>0.0</real>
				<real>0.0</real>
			</array>
			<integer>0</integer>
		</array>
		<array>
			<integer>1</integer>
			<integer>13</integer>
			<array/>
			<integer>0</integer>
			<real>0.0</real>
			<false/>
			<array>
				<real>397.671875</real>
				<real>153.18359375</real>
			</array>
			<array>
				<real>397.671875</real>
				<real>153.18359375</real>
			</array>
			<integer>-1</integer>
			<false/>
			<false/>
			<array>
				<real>0.0</real>
				<real>0.0</real>
			</array>
			<integer>0</integer>
		</array>
		<array>
			<integer>1</integer>
			<integer>13</integer>
			<array/>
			<integer>0</integer>
			<real>0.0</real>
			<false/>
			<array>
				<real>536.9765625</real>
				<real>150.8359375</real>
			</array>
			<array>
				<real>536.9765625</real>
				<real>150.8359375</real>
			</array>
			<integer>-1</integer>
			<false/>
			<false/>
			<array>
				<real>0.0</real>
				<real>0.0</real>
			</array>
			<integer>0</integer>
		</array>
		<array>
			<integer>1</integer>
			<integer>13</integer>
			<array/>
			<integer>0</integer>
			<real>0.0</real>
			<false/>
			<array>
				<real>643.2265625</real>
				<real>152.57421875</real>
			</array>
			<array>
				<real>643.2265625</real>
				<real>152.57421875</real>
			</array>
			<integer>-1</integer>
			<false/>
			<false/>
			<array>
				<real>0.0</real>
				<real>0.0</real>
			</array>
			<integer>0</integer>
		</array>
		<array>
			<integer>1</integer>
			<integer>13</integer>
			<array/>
			<integer>0</integer>
			<real>0.0</real>
			<false/>
			<array>
				<real>760.95703125</real>
				<real>155.96875</real>
			</array>
			<array>
				<real>760.95703125</real>
				<real>155.96875</real>
			</array>
			<integer>-1</integer>
			<false/>
			<false/>
			<array>
				<real>0.0</real>
				<real>0.0</real>
			</array>
			<integer>0</integer>
		</array>
		<array>
			<integer>1</integer>
			<integer>13</integer>
			<array/>
			<integer>0</integer>
			<real>0.0</real>
			<false/>
			<array>
				<real>894.78125</real>
				<real>157.359375</real>
			</array>
			<array>
				<real>894.78125</real>
				<real>157.359375</real>
			</array>
			<integer>-1</integer>
			<false/>
			<false/>
			<array>
				<real>0.0</real>
				<real>0.0</real>
			</array>
			<integer>0</integer>
		</array>
		<array>
			<integer>1</integer>
			<integer>13</integer>
			<array/>
			<integer>0</integer>
			<real>0.0</real>
			<false/>
			<array>
				<real>107.88671875</real>
				<real>52.4140625</real>
			</array>
			<array>
				<real>107.88671875</real>
				<real>52.4140625</real>
			</array>
			<integer>-1</integer>
			<false/>
			<false/>
			<array>
				<real>0.0</real>
				<real>0.0</real>
			</array>
			<integer>0</integer>
		</array>
		<array>
			<integer>1</integer>
			<integer>13</integer>
			<array/>
			<integer>0</integer>
			<real>0.0</real>
			<false/>
			<array>
				<real>244.1015625</real>
				<real>59.80859375</real>
			</array>
			<array>
				<real>244.1015625</real>
				<real>59.80859375</real>
			</array>
			<integer>-1</integer>
			<false/>
			<false/>
			<array>
				<real>0.0</real>
				<real>0.0</real>
			</array>
			<integer>0</integer>
		</array>
		<array>
			<integer>1</integer>
			<integer>13</integer>
			<array/>
			<integer>0</integer>
			<real>0.0</real>
			<false/>
			<array>
				<real>397.9296875</real>
				<real>61.6796875</real>
			</array>
			<array>
				<real>397.9296875</real>
				<real>61.6796875</real>
			</array>
			<integer>-1</integer>
			<false/>
			<false/>
			<array>
				<real>0.0</real>
				<real>0.0</real>
			</array>
			<integer>0</integer>
		</array>
		<array>
			<integer>1</integer>
			<integer>13</integer>
			<array/>
			<integer>0</integer>
			<real>0.0</real>
			<false/>
			<array>
				<real>533.4921875</real>
				<real>58.94140625</real>
			</array>
			<array>
				<real>533.4921875</real>
				<real>58.94140625</real>
			</array>
			<integer>-1</integer>
			<false/>
			<false/>
			<array>
				<real>0.0</real>
				<real>0.0</real>
			</array>
			<integer>0</integer>
		</array>
		<array>
			<integer>1</integer>
			<integer>13</integer>
			<array/>
			<integer>0</integer>
			<real>0.0</real>
			<false/>
			<array>
				<real>659.66015625</real>
				<real>60.02734375</real>
			</array>
			<array>
				<real>659.66015625</real>
				<real>60.02734375</real>
			</array>
			<integer>-1</integer>
			<false/>
			<false/>
			<array>
				<real>0.0</real>
				<real>0.0</real>
			</array>
			<integer>0</integer>
		</array>
		<array>
			<integer>1</integer>
			<integer>13</integer>
			<array/>
			<integer>0</integer>
			<real>0.0</real>
			<false/>
			<array>
				<real>775.828125</real>
				<real>54.0703125</real>
			</array>
			<array>
				<real>775.828125</real>
				<real>54.0703125</real>
			</array>
			<integer>-1</integer>
			<false/>
			<false/>
			<array>
				<real>0.0</real>
				<real>0.0</real>
			</array>
			<integer>0</integer>
		</array>
		<array>
			<integer>1</integer>
			<integer>13</integer>
			<array/>
			<integer>0</integer>
			<real>0.0</real>
			<false/>
			<array>
				<real>892.8203125</real>
				<real>56.50390625</real>
			</array>
			<array>
				<real>892.8203125</real>
				<real>56.50390625</real>
			</array>
			<integer>-1</integer>
			<false/>
			<false/>
			<array>
				<real>0.0</real>
				<real>0.0</real>
			</array>
			<integer>0</integer>
		</array>
	</array>
</array>
</plist>
