<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Captive and Active</string>
	<integer>2</integer>
	<integer>24</integer>
	<integer>12</integer>
	<integer>0</integer>
	<array/>
	<array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
	</array>
	<array>
		<array>
			<integer>1</integer>
			<integer>8</integer>
			<array/>
			<integer>0</integer>
			<real>0</real>
			<false/>
			<array>
				<real>704</real>
				<real>576</real>
			</array>
			<array>
				<real>704</real>
				<real>576</real>
			</array>
			<integer>-1</integer>
			<false/>
			<false/>
			<array>
				<real>0</real>
				<real>0</real>
			</array>
			<integer>0</integer>
		</array>
		<array>
			<integer>1</integer>
			<integer>8</integer>
			<array/>
			<integer>0</integer>
			<real>0</real>
			<false/>
			<array>
				<real>704</real>
				<real>704</real>
			</array>
			<array>
				<real>704</real>
				<real>704</real>
			</array>
			<integer>-1</integer>
			<false/>
			<false/>
			<array>
				<real>0</real>
				<real>0</real>
			</array>
			<integer>0</integer>
		</array>
		<array>
			<integer>1</integer>
			<integer>8</integer>
			<array/>
			<integer>0</integer>
			<real>0</real>
			<false/>
			<array>
				<real>704</real>
				<real>960</real>
			</array>
			<array>
				<real>704</real>
				<real>960</real>
			</array>
			<integer>-1</integer>
			<false/>
			<false/>
			<array>
				<real>0</real>
				<real>0</real>
			</array>
			<integer>0</integer>
		</array>
		<array>
			<integer>1</integer>
			<integer>8</integer>
			<array/>
			<integer>0</integer>
			<real>0</real>
			<false/>
			<array>
				<real>576</real>
				<real>832</real>
			</array>
			<array>
				<real>576</real>
				<real>832</real>
			</array>
			<integer>-1</integer>
			<false/>
			<false/>
			<array>
				<real>0</real>
				<real>0</real>
			</array>
			<integer>0</integer>
		</array>
		<array>
			<integer>1</integer>
			<integer>8</integer>
			<array/>
			<integer>0</integer>
			<real>0</real>
			<false/>
			<array>
				<real>576</real>
				<real>704</real>
			</array>
			<array>
				<real>576</real>
				<real>704</real>
			</array>
			<integer>-1</integer>
			<false/>
			<false/>
			<array>
				<real>0</real>
				<real>0</real>
			</array>
			<integer>0</integer>
		</array>
		<array>
			<integer>1</integer>
			<integer>10</integer>
			<array/>
			<integer>0</integer>
			<real>0</real>
			<false/>
			<array>
				<real>576</real>
				<real>576</real>
			</array>
			<array>
				<real>576</real>
				<real>576</real>
			</array>
			<integer>-1</integer>
			<false/>
			<false/>
			<array>
				<real>0</real>
				<real>0</real>
			</array>
			<integer>0</integer>
		</array>
		<array>
			<integer>1</integer>
			<integer>10</integer>
			<array/>
			<integer>0</integer>
			<real>0</real>
			<false/>
			<array>
				<real>576</real>
				<real>960</real>
			</array>
			<array>
				<real>576</real>
				<real>960</real>
			</array>
			<integer>-1</integer>
			<false/>
			<false/>
			<array>
				<real>0</real>
				<real>0</real>
			</array>
			<integer>0</integer>
		</array>
		<array>
			<integer>1</integer>
			<integer>13</integer>
			<array/>
			<integer>0</integer>
			<real>0</real>
			<false/>
			<array>
				<real>448</real>
				<real>832</real>
			</array>
			<array>
				<real>448</real>
				<real>832</real>
			</array>
			<integer>-1</integer>
			<false/>
			<false/>
			<array>
				<real>0</real>
				<real>0</real>
			</array>
			<integer>0</integer>
		</array>
		<array>
			<integer>1</integer>
			<integer>13</integer>
			<array/>
			<integer>0</integer>
			<real>0</real>
			<false/>
			<array>
				<real>448</real>
				<real>704</real>
			</array>
			<array>
				<real>448</real>
				<real>704</real>
			</array>
			<integer>-1</integer>
			<false/>
			<false/>
			<array>
				<real>0</real>
				<real>0</real>
			</array>
			<integer>0</integer>
		</array>
		<array>
			<integer>1</integer>
			<integer>7</integer>
			<array/>
			<integer>0</integer>
			<real>0</real>
			<false/>
			<array>
				<real>320</real>
				<real>960</real>
			</array>
			<array>
				<real>320</real>
				<real>960</real>
			</array>
			<integer>-1</integer>
			<false/>
			<false/>
			<array>
				<real>0</real>
				<real>0</real>
			</array>
			<integer>0</integer>
		</array>
		<array>
			<integer>1</integer>
			<integer>7</integer>
			<array/>
			<integer>0</integer>
			<real>0</real>
			<false/>
			<array>
				<real>320</real>
				<real>832</real>
			</array>
			<array>
				<real>320</real>
				<real>832</real>
			</array>
			<integer>-1</integer>
			<false/>
			<false/>
			<array>
				<real>0</real>
				<real>0</real>
			</array>
			<integer>0</integer>
		</array>
		<array>
			<integer>1</integer>
			<integer>7</integer>
			<array/>
			<integer>0</integer>
			<real>0</real>
			<false/>
			<array>
				<real>320</real>
				<real>704</real>
			</array>
			<array>
				<real>320</real>
				<real>704</real>
			</array>
			<integer>-1</integer>
			<false/>
			<false/>
			<array>
				<real>0</real>
				<real>0</real>
			</array>
			<integer>0</integer>
		</array>
		<array>
			<integer>1</integer>
			<integer>7</integer>
			<array/>
			<integer>0</integer>
			<real>0</real>
			<false/>
			<array>
				<real>320</real>
				<real>576</real>
			</array>
			<array>
				<real>320</real>
				<real>576</real>
			</array>
			<integer>-1</integer>
			<false/>
			<false/>
			<array>
				<real>0</real>
				<real>0</real>
			</array>
			<integer>0</integer>
		</array>
		<array>
			<integer>1</integer>
			<integer>8</integer>
			<array/>
			<integer>0</integer>
			<real>0</real>
			<false/>
			<array>
				<real>704</real>
				<real>832</real>
			</array>
			<array>
				<real>704</real>
				<real>832</real>
			</array>
			<integer>-1</integer>
			<false/>
			<false/>
			<array>
				<real>0</real>
				<real>0</real>
			</array>
			<integer>0</integer>
		</array>
		<array>
			<integer>1</integer>
			<integer>8</integer>
			<array/>
			<integer>1</integer>
			<real>0</real>
			<false/>
			<array>
				<real>2496</real>
				<real>960</real>
			</array>
			<array>
				<real>2496</real>
				<real>960</real>
			</array>
			<integer>-1</integer>
			<false/>
			<false/>
			<array>
				<real>0</real>
				<real>0</real>
			</array>
			<integer>0</integer>
		</array>
		<array>
			<integer>1</integer>
			<integer>8</integer>
			<array/>
			<integer>1</integer>
			<real>0</real>
			<false/>
			<array>
				<real>2624</real>
				<real>832</real>
			</array>
			<array>
				<real>2624</real>
				<real>832</real>
			</array>
			<integer>-1</integer>
			<false/>
			<false/>
			<array>
				<real>0</real>
				<real>0</real>
			</array>
			<integer>0</integer>
		</array>
		<array>
			<integer>1</integer>
			<integer>8</integer>
			<array/>
			<integer>1</integer>
			<real>0</real>
			<false/>
			<array>
				<real>2624</real>
				<real>704</real>
			</array>
			<array>
				<real>2624</real>
				<real>704</real>
			</array>
			<integer>-1</integer>
			<false/>
			<false/>
			<array>
				<real>0</real>
				<real>0</real>
			</array>
			<integer>0</integer>
		</array>
		<array>
			<integer>1</integer>
			<integer>8</integer>
			<array/>
			<integer>1</integer>
			<real>0</real>
			<false/>
			<array>
				<real>2496</real>
				<real>576</real>
			</array>
			<array>
				<real>2496</real>
				<real>576</real>
			</array>
			<integer>-1</integer>
			<false/>
			<false/>
			<array>
				<real>0</real>
				<real>0</real>
			</array>
			<integer>0</integer>
		</array>
		<array>
			<integer>1</integer>
			<integer>7</integer>
			<array/>
			<integer>1</integer>
			<real>0</real>
			<false/>
			<array>
				<real>2624</real>
				<real>960</real>
			</array>
			<array>
				<real>2624</real>
				<real>960</real>
			</array>
			<integer>-1</integer>
			<false/>
			<false/>
			<array>
				<real>0</real>
				<real>0</real>
			</array>
			<integer>0</integer>
		</array>
		<array>
			<integer>1</integer>
			<integer>7</integer>
			<array/>
			<integer>1</integer>
			<real>0</real>
			<false/>
			<array>
				<real>2624</real>
				<real>576</real>
			</array>
			<array>
				<real>2624</real>
				<real>576</real>
			</array>
			<integer>-1</integer>
			<false/>
			<false/>
			<array>
				<real>0</real>
				<real>0</real>
			</array>
			<integer>0</integer>
		</array>
		<array>
			<integer>1</integer>
			<integer>7</integer>
			<array/>
			<integer>1</integer>
			<real>0</real>
			<false/>
			<array>
				<real>2752</real>
				<real>832</real>
			</array>
			<array>
				<real>2752</real>
				<real>832</real>
			</array>
			<integer>-1</integer>
			<false/>
			<false/>
			<array>
				<real>0</real>
				<real>0</real>
			</array>
			<integer>0</integer>
		</array>
		<array>
			<integer>1</integer>
			<integer>7</integer>
			<array/>
			<integer>1</integer>
			<real>0</real>
			<false/>
			<array>
				<real>2752</real>
				<real>704</real>
			</array>
			<array>
				<real>2752</real>
				<real>704</real>
			</array>
			<integer>-1</integer>
			<false/>
			<false/>
			<array>
				<real>0</real>
				<real>0</real>
			</array>
			<integer>0</integer>
		</array>
		<array>
			<integer>1</integer>
			<integer>10</integer>
			<array/>
			<integer>1</integer>
			<real>0</real>
			<false/>
			<array>
				<real>2752</real>
				<real>960</real>
			</array>
			<array>
				<real>2752</real>
				<real>960</real>
			</array>
			<integer>-1</integer>
			<false/>
			<false/>
			<array>
				<real>0</real>
				<real>0</real>
			</array>
			<integer>0</integer>
		</array>
		<array>
			<integer>1</integer>
			<integer>10</integer>
			<array/>
			<integer>1</integer>
			<real>0</real>
			<false/>
			<array>
				<real>2752</real>
				<real>576</real>
			</array>
			<array>
				<real>2752</real>
				<real>576</real>
			</array>
			<integer>-1</integer>
			<false/>
			<false/>
			<array>
				<real>0</real>
				<real>0</real>
			</array>
			<integer>0</integer>
		</array>
		<array>
			<integer>1</integer>
			<integer>13</integer>
			<array/>
			<integer>1</integer>
			<real>0</real>
			<false/>
			<array>
				<real>2880</real>
				<real>832</real>
			</array>
			<array>
				<real>2880</real>
				<real>832</real>
			</array>
			<integer>-1</integer>
			<false/>
			<false/>
			<array>
				<real>0</real>
				<real>0</real>
			</array>
			<integer>0</integer>
		</array>
		<array>
			<integer>1</integer>
			<integer>13</integer>
			<array/>
			<integer>1</integer>
			<real>0</real>
			<false/>
			<array>
				<real>2880</real>
				<real>704</real>
			</array>
			<array>
				<real>2880</real>
				<real>704</real>
			</array>
			<integer>-1</integer>
			<false/>
			<false/>
			<array>
				<real>0</real>
				<real>0</real>
			</array>
			<integer>0</integer>
		</array>
	</array>
</array>
</plist>
