<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Title</string>
	<false/>
	<integer>16</integer>
	<integer>12</integer>
	<integer>192</integer>
	<array/>
	<array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
	</array>
	<array>
		<array>
			<integer>2</integer>
			<integer>16</integer>
			<array/>
			<integer>0</integer>
			<real>0.0</real>
			<false/>
			<array>
				<real>64</real>
				<real>64</real>
			</array>
			<array>
				<real>64</real>
				<real>64</real>
			</array>
			<integer>-1</integer>
			<false/>
			<false/>
			<array>
				<real>0.0</real>
				<real>0.0</real>
			</array>
			<integer>0</integer>
		</array>
		<array>
			<integer>1</integer>
			<integer>7</integer>
			<array/>
			<integer>0</integer>
			<real>0.0</real>
			<false/>
			<array>
				<real>448</real>
				<real>448</real>
			</array>
			<array>
				<real>448</real>
				<real>448</real>
			</array>
			<integer>-1</integer>
			<false/>
			<false/>
			<array>
				<real>0.0</real>
				<real>0.0</real>
			</array>
			<integer>0</integer>
		</array>
		<array>
			<integer>1</integer>
			<integer>7</integer>
			<array/>
			<integer>0</integer>
			<real>0.0</real>
			<false/>
			<array>
				<real>576</real>
				<real>320</real>
			</array>
			<array>
				<real>576</real>
				<real>320</real>
			</array>
			<integer>-1</integer>
			<false/>
			<false/>
			<array>
				<real>0.0</real>
				<real>0.0</real>
			</array>
			<integer>0</integer>
		</array>
		<array>
			<integer>1</integer>
			<integer>7</integer>
			<array/>
			<integer>0</integer>
			<real>0.0</real>
			<false/>
			<array>
				<real>704</real>
				<real>448</real>
			</array>
			<array>
				<real>704</real>
				<real>448</real>
			</array>
			<integer>-1</integer>
			<false/>
			<false/>
			<array>
				<real>0.0</real>
				<real>0.0</real>
			</array>
			<integer>0</integer>
		</array>
	</array>
</array>
</plist>
